@use "../setting/setting";

.p-topQuality{
  position: relative;
  overflow: hidden;
  padding: 64px 0 40px;
}

@media (min-width: 1024px){
  .p-topQuality{
    padding: 160px 0 120px;

    .c-topHeading__bg{
      top: 80px;
      letter-spacing: .1em;
    }

    .c-flex__item{
      img{
        margin-top: -32px;
      }
    }
  }
}